.coursePageBanner {
    position: absolute;
    right: 41px;
    bottom: 55px;
    width: 33%;
}

.course {
    margin: 0 0 100px 0;

    &.ias-header {
        background-color: #ebf3ff;
        background-position: right 20px center, right center;
    }
}

.course-seach-form {
    form {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;

        input {
            border-radius: 5px;
            outline: none !important;
            height: 56px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #000;
            padding: 0 30px;
            border: 0;
            width: 100%;
            margin: 0 150px 0 0;

            &::placeholder {
                color: #535968;
            }

            &:-ms-input-placeholder {
                color: #535968;
            }

            &::-ms-input-placeholder {
                color: #535968;
            }
        }

        button {
            background-image: url(../../assets/image/courses/search.svg);
            background-repeat: no-repeat;
            height: 56px;
            width: 85px;
            background-position: center;
            background-color: #fff;
            border-radius: 5px;
            cursor: pointer;
            border: 0px !important;
        }
    }
}

.course-filter {
    margin: 0 0 100px 0;

    .course-filter-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .title {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #000c2e;
        margin: 0 0 40px 0;
    }

    .filter-left-asside {
        margin: 0 50px 0 0;
        width: 400px;

        .course-filter-card {
            padding: 25px;
            border-radius: 10px;
            margin: 0 0 50px 0;
            box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);

            .form-check-label {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #535968;
            }

            &:last-child {
                margin: 0;
            }

            .title {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #000c2e;
                border-bottom: 1px solid #b7c0d5;
                padding: 0 0 16px 0;
                margin: 0 0 35px 0;
            }

            .form-check {
                margin: 0 0 10px 0;
                cursor: pointer;

                &:last-child {
                    margin: 0;
                }

                img {
                    margin: 0 15px 0 0;
                    width: 32px;
                    height: 16px;
                }

                .form-check-label {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #535968;
                }
            }
        }

        .filter-wrapper {
            width: 100%;

            .accordion {
                .accordion-item {
                    margin: 0 0 30px 0;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
                    border-radius: 10px;

                    &.advance-filter {
                        .accordion-button {
                            background-color: #8019b0;
                        }
                    }

                    .accordion-button {
                        background-color: #1d4c8c;
                        height: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 28px;
                        color: #ffffff !important;
                        border-radius: 10px;
                        box-shadow: none !important;
                        outline: none !important;

                        &::after {
                            background-image: url(../../assets/image/courses/arrow.svg) !important;
                            background-repeat: no-repeat;
                            color: #fff !important;
                        }
                    }

                    .accordion-body {
                        padding: 30px;

                        .form-container {
                            .form-group {
                                margin: 0 0 25px 0;

                                &.language-rate {
                                    div {
                                        width: 22%;

                                        label {
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 12px;
                                            line-height: 15px;
                                            color: #535968;
                                            margin: 0 0 8px 0;
                                        }

                                        input {
                                            width: 100%;
                                            height: 26px;
                                            left: 420px;
                                            top: 1873px;
                                            border: 1px solid #535968;
                                            border-radius: 5px;
                                            padding: 0 8px;
                                        }
                                    }
                                }

                                label {
                                    display: block;
                                    margin: 0 0 12px 0;
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 12px;
                                    line-height: 15px;
                                    color: #000c2e;
                                }

                                select {
                                    background-image: url(../../assets/image/courses/arrow-black.svg) !important;
                                    background-repeat: no-repeat;
                                    background-position: right 18px center;
                                    border: 1px solid #535968;
                                    border-radius: 10px;
                                    height: 40px;
                                    outline: none !important;
                                    width: 100%;
                                    padding: 0 20px;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                }

                                .fees-range-tk {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin: 15px auto 0 auto;
                                    width: 90%;

                                    span {
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 12px;
                                        line-height: 15px;
                                        text-align: center;
                                        color: #535968;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .filter-right-asside {
        width: 100%;

        .course-filter-card {
            padding: 25px;
            border-radius: 10px;
            margin: 0 0 35px 0;
            box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);

            .form-check-label {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #535968;
            }

            &:last-child {
                margin: 0 0 0 0;
            }

            .title-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 30px 0;

                h3 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: 0.04em;
                    color: #000c2e;

                    a {
                        color: #000c2e;
                    }

                    img {
                        width: 40px;
                        height: 40px;
                        margin: 0 10px 0 0;
                    }
                }

                img {
                    width: 37px;
                    height: 37px;
                    border-radius: 100%;
                }
            }

            .tag {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 0 0 20px 0;

                span {
                    background-color: #eef5ff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 8px 20px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: #535968;
                    margin: 0 20px 0 0;

                    &:last-child {
                        margin: 0 0 0 0;
                    }
                }
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #535968;
                margin: 0 0 25px 0;
            }

            a {
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 21px;
                letter-spacing: 0.05em;
                color: #6b5eff;
                text-decoration: none;
                display: inline-flex;
                align-self: center;
                justify-content: flex-start;
                cursor: pointer;

                i {
                    background-image: url(../../assets/image/courses/read-more.svg);
                    background-position: center;
                    background-size: 20px;
                    background-repeat: no-repeat;
                    margin: 0 0 0 10px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

.career-counselling-section {
    background-color: #f2f8ff;
    padding: 80px 0;

    .career-counselling-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .career-counselling-left-asside {
            margin: 0 40px 0 0;

            .career-counselling-img {
                margin: 0 0 60px 0;
            }

            .career-counselling-desc {
                margin: 0 0 35px 0;

                h3 {
                    font-weight: 800;
                    font-size: 36px;
                    line-height: 45px;
                    letter-spacing: 0.05em;
                    color: #000c2e;
                    margin: 0 0 20px 0;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 34px;
                    text-align: justify;
                    letter-spacing: 0.05em;
                    color: #353841;
                    margin: 0 0 20px 0;

                    &:last-child {
                        margin: 0 0 0 0;
                    }
                }
            }

            .career-counselling-social-share {
                display: inline-flex;
                align-items: center;
                justify-content: space-between;

                .share-title {
                    margin: 0 20px 0 0;

                    img {
                        margin-right: 10px;
                    }

                    span {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 22px;
                        color: #000c2e;
                    }
                }

                .social-link {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    a {
                        display: block;
                        margin: 0 15px 0 0;
                    }
                }
            }

            .consultations-from {
                margin: 70px 0 0 0;

                .img-container {
                    width: 90%;

                    img {
                        width: 100%;
                    }
                }

                .content {
                    margin: 0 0 0 50px;
                    min-width: 340px;

                    h2 {
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 35px;
                    }
                }
            }
        }

        .career-counselling-right-asside {
            min-width: 325px;

            .title {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                text-align: left;
                letter-spacing: 0.02em;
                color: #000c2e;
                border-bottom: 1px solid #7490dd;
                margin: 0 0 35px 0;
                padding: 0 0 10px 0;
            }

            .service {
                margin: 0 0 60px 0;

                &.featured-services {
                    margin: 0;
                }

                .card {
                    background: #ffffff;
                    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.09);
                    border-radius: 10px;
                    padding: 45px;
                    text-align: center;
                    margin: 0 0 30px 0;

                    &:last-child {
                        margin: 0 0 0 0;
                    }

                    .icon {
                        background-image: url(../../assets/image/icon/service/icon-bg.svg);
                        background-repeat: no-repeat;
                        background-position: 50%;
                        width: 60px;
                        height: 60px;
                        margin: 0 auto 15px auto;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }

                    .card-title {
                        font-style: normal;
                        font-weight: 800;
                        font-size: 20px;
                        line-height: 23px;
                        text-align: center;
                        letter-spacing: 0.05em;
                        color: #000c2e;
                        margin: 0 0 15px 0;
                    }

                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        text-align: center;
                        color: #353841;
                        margin: 0 0 15px 0;
                    }

                    a {
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

.course-details-header {
    height: 400px;
}

.course-details-container {
    width: 1200px;
    margin: 0px auto;
    position: relative;
    top: -85px;
    border: 1px solid red;

    .course-details-title {
        background-color: #ffffff;
        box-shadow: 10px 15px 40px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 100%;
        height: 170px;
        margin: 0 auto 50px auto;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            border-color: #e3e3e3;
            border-style: solid;
            border-width: 0 1px 0 0;
            width: 25%;
            text-align: center;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &:last-child {
                border-width: 0;
            }

            &.university {
                color: #8019b0;

                h3 {
                    color: #8019b0;
                }
            }

            &.country {
                color: #17a2b8;

                h3 {
                    color: #17a2b8;
                }
            }

            &.faculty {
                color: #1d4c8c;

                h3 {
                    color: #1d4c8c;
                }
            }

            &.tution-fees {
                color: #15234a;

                h3 {
                    color: #15234a;
                }
            }

            &.duration {
                color: #ff8000;

                h3 {
                    color: #ff8000;
                }
            }

            span {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 17px;
                display: block;
                margin: 0 0 15px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;

                img {
                    margin: 0 5px 0 0;
                }
            }

            h3 {
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 22px;
                color: #000c2e;
                margin: 0;
            }
        }
    }

    .course-overview {
        margin: 0 0 50px 0;
        h3 {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #000c2e;
            margin: 0 0 30px 0;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #000c2e;
            margin: 0 0 30px 0;
        }
    }

    .admission-requirements {
        margin: 0 0 50px 0;
        h3 {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #000c2e;
            margin: 0 0 30px 0;
        }

        .list {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .btn {
                background-color: #1d4c8c;
                border-radius: 6px;
                color: #fff;
                margin: 0 24px 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                min-width: 195px;
                transition: 0.5s;

                &:hover {
                    opacity: 0.9;
                }

                &:active {
                    transform: scale(0.94);
                }

                &:last-child {
                    margin: 0 0 0 0;
                }

                &.year {
                    background-color: #1d4c8c;
                }
                &.marks {
                    background-color: #8019b0;
                }
                &.ielts {
                    background-color: #15234a;
                }
                &.tofel {
                    background-color: #17a2b8;
                }
                &.pte {
                    background-color: #ff8000;
                }
                &.douling {
                    background-color: #8019b0;
                }

                span {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    display: block;
                    width: 100%;

                    &:last-child {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .more-course {
        margin: 0 0 50px 0;
        h3 {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #000c2e;
            margin: 0 0 30px 0;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            a {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                padding: 10px 20px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #535968;
                transition: 0.5s;
                display: block;
                margin: 0 20px 0 0;
                border-radius: 5px;

                &:last-child {
                    margin: 0;
                }

                &:hover {
                    opacity: 0.9;
                    background-color: #476cd2;
                    color: #fff;
                }

                &:active {
                    transform: scale(0.94);
                    box-shadow: none;
                }
            }
        }
    }

    .suggested-courses {
        margin: 0 0 100px 0;
        h3 {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #000c2e;
            margin: 0 0 20px 0;
        }

        .list {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                padding: 15px;
                margin: 0;
                background-color: #ffffff;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                width: 23.8%;

                h3 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    color: #000c2e;
                    margin: 0 0 10px 0;
                }

                h4 {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 12px;
                    color: #535968;
                    margin: 0 0 10px 0;

                    img {
                        width: 25px;
                        margin: 0 5px 0 0;
                    }
                }
            }
        }
    }
}

.course-filter-wrapper {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .filter-right-asside {
        width: 750px;

        .filter-header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .title {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;

                span {
                    display: block;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: left;
                    color: #535968;
                    margin: 10px 0 0 0;
                    width: 100%;
                }
            }
        }

        .short {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background: #dce4fa;
            border-width: 1px;
            border-style: solid;
            border-color: #abb8db;
            border-radius: 5px;

            span {
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #000c2e;
                min-width: 80px;
                text-align: center;
            }

            select {
                border-radius: 5px;
                border: 0px;
                min-width: 245px;
            }
        }

        .title-container {
            .title {
                margin: 0;
                span {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 30px;
                    color: #535968;
                }
            }
        }

        .share-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .share-container {
                margin: 0 13px;
            }

            .favorite,
            .compare {
                width: 37px;
                height: 37px;
                border-radius: 100%;
                border: 1px solid #535968;
                background-color: #9b9898;
                background-repeat: no-repeat;
                background-position: center;
            }

            .favorite {
                background-image: url(../../assets/image/courses/heart-black.svg);

                &.active {
                    background-color: #1d4c8c;
                }
            }

            .compare {
                background-image: url(../../assets/image/courses/compare-black.svg);
                background-color: #8019b0;
            }
        }

        .course-details-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 30px 0;

            div {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                img {
                    width: auto;
                    height: auto;
                    margin: 0 8px 0 0;
                }

                h3 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 12px;
                    color: #000c2e;
                    margin: 0;

                    span {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 12px;
                        color: #535968;
                        display: block;
                        margin: 5px 0 0 0;
                    }
                }
            }
        }

        .university-name-location {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0 0 40px 0;

            h3 {
                margin: 0 30px 0 0;

                img {
                    margin: 0 10px 0 0;
                }

                a {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 17px;
                    color: #000c2e;
                }
            }

            .location {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                img {
                    margin: 0 10px 0 0;
                }

                h3 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 17px;
                    color: #000c2e;
                    margin: 0;
                }
            }
        }

        .details-strip {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .intakes {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .title {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    color: #000c2e;
                    margin: 0;
                }

                .month {
                    margin: 0 0 0 10px;
                    span {
                        background-color: #c2c8d9;
                        border-radius: 4px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding: 4px 12px;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                        text-align: center;
                        color: #000c2e;
                        margin: 0 10px 0 0;
                    }
                }
            }
        }
    }
}
.university-name-location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 40px 0;

    &.header {
        justify-content: center;
    }

    h3 {
        margin: 0 30px 0 0;

        img {
            margin: 0 10px 0 0;
        }

        a {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 17px;
            color: #fff;
        }
    }

    .location {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
            margin: 0 10px 0 0;
        }

        h3 {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 17px;
            color: #fff;
            margin: 0;
        }
    }
}

.details-wrapper-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid gold;

    .left-asside {
        min-width: 750px;
        margin: 0 50px 0 0;

        .course-overview {
            h3 {
                img {
                    margin: 0 15px 0 0;
                }
            }

            .details {
                padding: 38px 40px;
                background-color: #ffffff;
                box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
                border-radius: 10px;

                p {
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

        .gallery-container {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .gallery-feature {
                width: 315.57px;
                height: 421.3px;
            }

            img {
                width: 315.57px;
                height: 421.3px;
            }

            .list {
                margin: 0 0 0 25px;

                div {
                    margin: 0 0 25px 0;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    img {
                        margin: 0 25px 0 0;
                        width: 191.04px;
                        height: 197.93px;

                        &:last-child {
                            margin: 0 0 0 0;
                        }
                    }
                }
            }
        }
    }

    .right-asside {
        min-width: 400px;
        margin: 0 0 0 0;

        .course-summary-container {
            .course-summary-title {
                margin: 0 0 16px 0;
            }

            .course-summary-list {
                background-color: #ffffff;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                padding: 30px 40px;
                margin: 0 0 50px 0;

                ul {
                    padding: 0 0 30px 0;
                    list-style: none;
                    border-bottom: 2px solid #e3e3e3;
                    margin: 0 0 30px 0;

                    li {
                        margin: 0 0 15px 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        .icon-holder {
                            margin: 0 15px 0 0;

                            img {
                                width: 35px;
                                height: 35px;
                            }
                        }

                        .details {
                            a {
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 19px;
                                color: #000c2e;
                            }

                            h3 {
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 19px;
                                color: #000c2e;
                                margin: 0;
                            }
                            span {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 26px;
                                color: #535968;
                                display: block;
                                margin: 0;
                            }
                        }
                    }
                }

                .basic-info {
                    margin: 0;
                    padding: 0;
                    border-bottom: 0px solid #e3e3e3;
                }
            }
        }

        .university-profile {
            margin: 15px 0 0 0;
            padding: 10px;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;

            .university-profile-img {
                position: relative;
                margin: 0 0 30px 0;

                .university-profile-banner {
                    position: relative;
                    border-radius: 4px;
                }

                .logo {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: -15px;
                    background-color: #fff;
                }
            }

            h3 {
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                letter-spacing: 0.05em;
                color: #000c2e;
                margin: 0 0 15px 0;
            }

            .university-name-location {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                img {
                    width: 25px;
                    height: 25px;
                    border-radius: 100%;
                    margin: 0 10px 0 0;
                }

                h3 {
                    margin: 0;

                    a {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #535968;
                    }
                }

                .location {
                    h3 {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #535968;
                    }
                }
            }
        }
    }
}

.admission-requirements {
    border: 1px solid red;

    h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #000c2e;
        margin: 0 0 20px 0;
    }

    h4 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #000c2e;
        margin: 0 0 20px 0;
    }

    .academic-requirements {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .left-asside {
            min-width: 750px;
            margin: 0 50px 0 0;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 35px 40px;

            h3 {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #535968;
                margin: 0 0 20px 0;
            }

            p {
                font-style: normal;
                font-weight: 700;
                font-size: 34px;
                line-height: 41px;
                color: #535968;
                margin: 0;
                padding: 0;
            }
        }

        .right-asside {
            min-width: 400px;
            margin: 0;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 35px 40px;

            h3 {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #535968;
                margin: 0 0 20px 0;
            }

            p {
                font-style: normal;
                font-weight: 700;
                font-size: 34px;
                line-height: 41px;
                color: #535968;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.test-requirements {
    h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #000c2e;
        margin: 0 0 30px 0;
    }

    .ielts {
        h3 {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #535968;
            margin: 0 0 20px 0;
        }

        .ielts-content {
            background-color: #8019b0;
            border-radius: 10px;
            padding: 16px 30px;

            h4 {
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                color: #ffffff;
                border-bottom: 1px solid #fff;
                padding: 0 0 12px 0;
                margin: 0 0 25px 0;

                span {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .subject {
                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    h4 {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        color: #ffffff;
                        border: 0px;
                        padding: 0;
                        margin: 0;
                    }
                    
                    span {
                        font-weight: 700;
                        font-size: 35px;
                        line-height: 48px;
                        color: #fff;
                    }
                }
            }
        }
    }
}
