@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

.top-header {
	background-color: #15234a;
	padding: 15px 0;
	font-family: "Inter", sans-serif;

	.contact {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		.contact-info {
			margin: 0 30px 0 0;
			display: flex;
			align-items: center;
			justify-content: flex-start;

			i {
				margin: 0 10px 0 0;
			}

			span {
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 17px;
				color: #ffffff;
			}
		}
	}

	.social-share-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.contact-info {
			margin: 0 30px 0 0;
			display: flex;
			align-items: center;
			justify-content: flex-start;

			i {
				margin: 0 10px 0 0;
			}

			span {
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 17px;
				color: #ffffff;
			}
		}

		.social-share {
			margin: 0 30px 0 0;

			a {
				display: inline-block;
				margin: 0 18px 0 0;

				&:last-child {
					margin: 0;
				}
			}
		}

		.user-info {
			a {
				width: 32px;
				height: 32px;
				background-color: #ffffff;
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}

.menu-wrapper {
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #d6ece4;
	margin: 10px 0 0px 0;
	padding: 0 0 18px 0;

	@media only screen and (max-width: 767.88px), (max-device-width: 767.88px) {
		margin: 0;
		padding: 20px 0;
		background-color: #15234a;
	}

	.menu-container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.site-logo {
			width: 180px;
			height: 55px;

			a {
				@media only screen and (max-width: 767.88px),
					(max-device-width: 767.88px) {
					display: block;
					height: 100%;

					img {
						filter: brightness(0) invert(1);
					}
				}
			}
		}

		.menu-list {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			ul {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				padding: 0;
				margin: 0;
				list-style: none;

				li {
					margin: 0 0 0 12px;

					a {
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 17px;
						color: #000c2e;
						text-decoration: none;
						border-style: solid;
						border-width: 0 0 1px 0;
						border-color: transparent;

						&:hover {
							color: #476cd2;
							border-color: #476cd2;
						}
					}
				}
			}
		}
	}
}
