.success-container {
    background-color: #f1f6fe;
}
.success-story-details-container {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 0 0 0;

    .success-story-left-aside {
        width: 835px;

        .banner {
            height: 550px;
            position: relative;
            background-color: #1a3270;
            margin: 0 0 70px 0;

            .banner-bg {
                height: 100%;
                position: relative;
                z-index: 1;
                width: 100%;
            }

            .auth-wrapper {
                width: 506px;
                height: 506px;
                background-color: #263c77;
                border-radius: 100%;
                position: absolute;
                right: 0;
                left: 0;
                margin: auto;
                top: 0;
                bottom: 0;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                .auth-container {
                    background-color: #45588a;
                    width: 450px;
                    height: 450px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                }
            }
        }

        .info-wrapper {
            .name {
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 42px;
                letter-spacing: 0.05em;
                color: #000c2e;
                margin: 0 0 28px 0;

                span {
                    color: #17a2b8;
                }
            }

            .basic {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 40px 0;

                .left-asside {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .flag-img {
                        margin: 0 14px 0 0;
                    }

                    .un-name {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                        color: #000c2e;
                    }

                    .location {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #000c2e;

                        img {
                            margin: 0 10px 0 0;
                        }
                    }
                }

                .right-asside {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    img {
                        margin: 0 10px 0 0;
                    }

                    h3 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        color: #000c2e;
                    }

                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #000c2e;
                        margin: 0;
                    }
                }
            }
        }

        .tag-share {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 80px 0;
        }

        .details-desc {
            margin: 0 0 50px 0;

            .info {
                margin: 0 0 35px 0;
                h3 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 35px;
                    text-align: justify;
                    color: #535968;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    text-align: justify;
                    color: #535968;
                }
            }

            .desc {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #535968;
            }
        }
    }

    .success-story-right-aside {
        width: 325px;

        .related-blog-list {
            margin: 0 0 50px 0;

            .related-blog-title {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.02em;
                color: #000c2e;
                border-bottom: 1px solid #7490dd;
                padding: 0 0 7px 0;
                margin: 0 0 30px 0;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    background: #ffffff;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.06);
                    border-radius: 10px 0 10px 0;
                    margin: 0 0 30px 0;

                    a {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: flex-start;

                        .banner {
                            height: 125px;
                            width: 125px;
                            position: relative;
                            background-color: #1a3270;
                            margin: 0 15px 0 0;
                            border-radius: 10px 0 0 0;

                            .banner-bg {
                                height: 100%;
                                position: relative;
                                z-index: 1;
                                width: 100%;
                            }

                            .auth-wrapper {
                                width: 100px;
                                height: 100px;
                                background-color: #263c77;
                                border-radius: 100%;
                                position: absolute;
                                right: 0;
                                left: 0;
                                margin: auto;
                                top: 0;
                                bottom: 0;
                                overflow: hidden;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                .auth-container {
                                    background-color: #45588a;
                                    width: 90px;
                                    height: 90px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 100%;

                                    img {
                                        width: 90px;
                                        height: 90px;
                                        border-radius: 100%;
                                    }
                                }
                            }
                        }

                        .img {
                            width: 116px;
                            height: 123px;
                            margin: 0 15px 0 0;

                            img {
                                border-radius: 10px 0 0 10px;
                            }
                        }

                        .desc {
                            padding: 0 10px 0 0;

                            h3 {
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 18px;
                                color: #000c2e;
                            }

                            p {
                                font-family: "Inter";
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 14px;
                                color: #535968;
                                margin: 0 0 10px 0;
                            }

                            .info {
                                display: block;

                                .university-name {
                                    margin: 0 0 10px 0;
                                    display: flex;
                                    align-items: center;

                                    img {
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 100%;
                                        margin: 0 10px 0 0;
                                    }

                                    span {
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 10px;
                                        line-height: 12px;
                                        color: #535968;
                                    }
                                }

                                .date {
                                    margin: 0 0 0 0;
                                    display: flex;
                                    align-items: center;

                                    img {
                                        width: 20px;
                                        height: 20px;
                                        margin: 0 10px 0 0;
                                    }

                                    span {
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 10px;
                                        line-height: 12px;
                                        color: #535968;
                                    }
                                }

                                span {
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 17px;
                                    color: #000c2e;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.iasb-tag {
    span {
        display: inline-flex;
        background-color: #ffffff;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 17px;
        height: 24px;
        align-items: center;
        justify-content: center;
        margin: 0 9px 15px 0;
        padding: 0 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: #535968;

        &.active {
            background-color: #15234a;
            color: #fff;
        }
    }
}

.blog-details-consultations-from {
    .content {
        margin: 0 0 0 30px !important;

        h2 {
            font-weight: 700 !important;
            font-size: 22px !important;
            line-height: 35px !important;
            text-align: justify;
            letter-spacing: 0.05em !important;
        }
    }
}

.country-list {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12) !important;
            border-radius: 20px 15px 15px 20px !important;
            width: 48%;
            margin: 0 0 15px 0;

            a {
                div {
                    img {
                        margin: 0 10px 0 0;
                    }
                }

                .name {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000c2e;
                }
            }
        }
    }
}

.success-story-details-consultations-from {
    background-image: url(../image/success-story/bg-reg.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #17a2b8;
    border-radius: 13.9333px;
    width: 100%;
    position: relative;
    height: 280px;

    .consultations-from-container {
        position: absolute;
        width: 303.47px;
        top: 30px;
        left: 60px;

        .content {
            h2 {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 34px;
                letter-spacing: 0.05em;
                color: #ffffff;
                margin: 0 0 12px 0;
            }

            ul {
                list-style: none;
                margin: 0 0 17px 0;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin: 0 0 10px 0;

                    img {
                        margin: 0 7px 0 0;
                    }

                    span {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 12px;
                        color: #ffffff;
                    }
                }
            }

            .book-appointent {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 195.07px;
                height: 39.01px;
                background-color: #ffffff;
                box-shadow: 0px 10.45px 27.8667px -10.45px #001347;
                border-radius: 5.57333px;
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                letter-spacing: 0.05em;
                color: #17a2b8;

                img{
                    margin: 0 0 0 10px;
                }
            }
        }
    }
}
