.university-wrapper {
    background-color: #f3f8ff;

    .university-details {
        width: 1200px;
        margin: 0px auto;
        padding: 80px 0 100px 0;

        .university-info {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin: 0 0 80px 0;

            .university-profile {
                background: #ffffff;
                box-shadow: 15px 20px 40px rgba(0, 0, 0, 0.1);
                border-radius: 15px;
                width: 612px;
                height: 602px;
                padding: 15px;
                margin: 0 58px 0 0;

                .banner {
                    width: 572px;
                    height: 284px;
                    margin: auto;
                    position: relative;

                    img {
                        width: 572px;
                        height: 284px;
                    }

                    .logo {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        bottom: -56px;
                        width: 118px;
                        height: 118px;
                        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
                        z-index: 1;
                        background: #fff;
                        border-radius: 100%;
                        left: 0;
                        right: 0;
                        margin: auto;

                        img {
                            width: 70px;
                            height: 70px;
                        }
                    }
                }

                .info {
                    margin: 80px auto 0 auto;
                    text-align: center;

                    h3 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 35px;
                        text-align: center;
                        letter-spacing: 0.05em;
                        color: #000c2e;
                        margin: 0 0 15px 0;
                    }

                    .location {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 0 24px 0;

                        div {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 16px;
                            color: #535968;

                            img {
                                margin: 0 15px 0 0;
                            }
                        }

                        .name {
                            margin: 0 24px 0 0;
                        }
                    }

                    .offer {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: #535968;
                        margin: 0 0 15px 0;

                        span {
                            font-weight: 700;
                        }

                        img {
                            margin: 0 15px 0 0;
                        }
                    }

                    
                }
            }

            .desc {
                h3 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 35px;
                    letter-spacing: 0.05em;
                    color: #000c2e;
                    margin: 0 0 20px 0;
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    text-align: justify;
                    color: #535968;
                    margin: 0 0 15px 0;
                }

                .gallery {
                    .gallery-wrapepr {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;

                        .small {
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            margin: 0 0 0 20px;

                            div {
                                width: 47%;
                                margin: 0 0 20px 0;

                                img {
                                    height: 100%;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .university-cost {
            margin: 0 0 80px 0;

            h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 35px;
                letter-spacing: 0.05em;
                color: #000c2e;
                margin: 0 0 20px 0;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                text-align: justify;
                color: #535968;
                margin: 0 0 15px 0;
            }

            .cost-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 40px 0 0 0;

                .cost-btn {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 20%;

                    .icon {
                        background-color: #1d4c8c;
                        min-width: 45px;
                        min-height: 45px;
                        border-radius: 6px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 10px 0 0;

                        &.tution-fee {
                            background-color: #17a2b8;
                        }

                        &.cost-living {
                            background-color: #8019b0;
                        }

                        &.undergraduate {
                            background-color: #15234a;
                        }

                        &.graduate {
                            background-color: #ff8000;
                        }

                        &.fee {
                            background-color: #1d4c8c;
                        }
                    }

                    .info {
                        h3 {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 20px;
                            color: #535968;
                            margin: 0 0 5px 0;
                        }

                        span {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #535968;
                            margin: 0 0 5px 0;
                        }
                    }
                }
            }
        }

        .university-courses-offer {
            margin: 0 0 80px 0;

            h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 35px;
                letter-spacing: 0.05em;
                color: #000c2e;
                margin: 0 0 20px 0;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                text-align: justify;
                color: #535968;
            }

            .btn-list {
                margin: 20px 0 0 0;

                a {
                    background-color: #8019b0;
                    border-radius: 6px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: justify;
                    color: #ffffff;
                    padding: 16px;
                    margin: 0 16px 16px 0;

                    &.arts {
                        background-color: #8019b0;
                    }

                    &.science {
                        background-color: #17a2b8;
                    }

                    &.analysis {
                        background-color: #1d4c8c;
                    }

                    &.commerce {
                        background-color: #ff8000;
                    }

                    &.nursing {
                        background-color: #15234a;
                    }

                    &.arts {
                        background-color: #8019b0;
                    }

                    &.curating {
                        background-color: #ff8000;
                    }

                    &.bachelor-science {
                        background-color: #17a2b8;
                    }

                    i {
                        margin: 0 10px 0 0;
                    }
                }
            }
        }

        .more-university {
            h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 45px;
                text-align: center;
                letter-spacing: 0.04em;
                color: #000c2e;
                margin: 0 0 50px 0;
            }

            .list {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;

                .content {
                    width: 21%;
                    background-color: #ffffff;
                    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    height: 280px;
                    padding: 40px;
                    margin: 20px;
                    position: relative;

                    &::before, &::after{
                        content: "";
                        width: 0;
                        height: 0;
                        position: absolute;
                        border-style: solid;
                        border-color: #476cd2;
                        opacity: 0;
                        transition: .5s;
                    }
                
                    &::before{
                        left: 0;
                        top: 0;
                        border-width: 1px 0 0 1px;
                    }
                
                    &::after{
                        right: 0;
                        bottom: 0;
                        border-width: 0 1px 1px 0;
                    }
                
                    &:hover{
                        &::before, &::after{
                            opacity: 1;
                            width: 50%;
                            height: 50%;
                        }
                
                    }

                    a {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        height: 100%;
                    }

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 0 20px 0;
                    }

                    span {
                        font-style: normal;
                        font-weight: 800;
                        font-size: 20px;
                        line-height: 23px;
                        text-align: center;
                        color: #000c2e;
                    }
                }
            }
        }
    }
}

