body {
	overflow-x: hidden;
}

/* Preloader */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	/* change if the mask should have another color then white */
	z-index: 99999;
	/* makes sure it stays on top */
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	/* centers the loading animation horizontally one the screen */
	top: 50%;
	/* centers the loading animation vertically one the screen */
	background-image: url(http://design.iasbd.co.uk/assets/image/logo.svg);
	/* path to your loading animation */
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
	/* is width and height divided by two */
}

.ias-btn {
	background-color: #15234a;
	box-shadow: 0 15px 40px -15px #001347;
	border-radius: 8px;
	padding: 16px 34px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #fff;
	transition: 0.5s all;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	&.white {
		background-color: #fff;
		color: #15234a;

		&:hover {
			background-color: rgb(206, 202, 202);
			color: #15234a;
		}

		&:active {
			background-color: #fff;
			transform: scale(0.94);
		}
	}

	&.outline {
		background-color: #fff;
		color: #15234a;
		border: 2px solid #15234a;

		&:hover {
			background-color: #15234a;
			color: #fff;
		}

		&:active {
			transform: scale(0.94);
		}
	}

	&:hover {
		background-color: #1b2f67;
		color: #ffffff;
	}

	&:active {
		background-color: #15234a;
		transform: scale(0.94);
	}
}

.content-header-section {
	&.white {
		.title,
		.sub-title {
			color: #fff;
		}
	}

	.title {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 45px;
		letter-spacing: 0.05em;
		color: #000c2e;
		margin: 0 0 15px 0;

		@media only screen and (max-width: 767.88px), (max-device-width: 767.88px) {
			font-size: 20px;
			line-height: 35px;
		}
	}

	.sub-title {
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.05em;
		color: #476cd2;
		display: block;
		margin: 0 0 20px 0;
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

a {
	text-decoration: none;
}

.hyperlink {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.text-light-blue {
	color: #476cd2;
}

.social-share {
	display: flex;
	align-items: center;
	justify-content: center;

	.share-title {
		margin: 0 20px 0 0;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #000c2e;
		display: flex;
		align-items: center;

		img {
			margin: 0 10px 0 0;
		}
	}

	.social-link {
		a {
			margin: 0 15px 0 0;
		}
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes MoveUpDown {
	0%,
	100% {
		bottom: 0;
	}
	50% {
		bottom: 100px;
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-10px);
	}
}

/* The container */
.iasbd-checkbox {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.text {
		position: relative;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		letter-spacing: 0.02em;
		color: #535968;
	}
}

/* Hide the browser's default checkbox */
.iasbd-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.iasbd-checkbox .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.iasbd-checkbox:hover input ~ .checkmark {
	background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.iasbd-checkbox input:checked ~ .checkmark {
	background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.iasbd-checkbox .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.iasbd-checkbox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.iasbd-checkbox .checkmark:after {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 5px;
	height: 10px;
	margin: auto;
	border: solid #000;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* The container */
.iasbd-radio {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&.right {
		padding: 0;

		.checkmark {
			left: inherit;
			right: 0;
		}
	}

	.text {
		position: relative;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		letter-spacing: 0.02em;
		color: #535968;
	}
}

/* Hide the browser's default checkbox */
.iasbd-radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.iasbd-radio .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border: 2px solid #535968;
	border-radius: 100%;
}

/* On mouse-over, add a grey background color */
.iasbd-radio:hover input ~ .checkmark {
	background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.iasbd-radio input:checked ~ .checkmark {
	background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.iasbd-radio .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.iasbd-radio input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.iasbd-radio .checkmark:after {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	margin: auto;
	border-radius: 100%;
	background-color: #535968;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.study-abroad-consultant-img {
	position: relative;

	.study-abroad-consultant-json {
		position: relative;
		left: -79px;
	}
}

.backgorund-center {
	background-position: center;
}

.backgorund-repeat {
	background-repeat: repeat;
}

html,
body {
	height: 100%;
}

.wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.animate {
	min-width: 300px;
	min-height: 60px;
	font-family: "Nunito", sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-weight: 700;
	color: #313133;
	background: #4fd1c5;
	background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
	border: none;
	border-radius: 1000px;
	box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 10px;
}

.animate::after {
	content: "";
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border: 6px solid #00ffcb;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: ring 1.5s infinite;
}

@keyframes ring {
	0% {
		width: 30px;
		height: 30px;
		opacity: 1;
	}
	100% {
		width: 300px;
		height: 300px;
		opacity: 0;
	}
}

.fancybox__container {
	z-index: 99999;
}

.share-btn-with-drpdown {
	.share-btn-icon {
		background-color: transparent;
		padding: 0;
		border: 0px;
		outline: none !important;
	}

	.share-btn-dropdown-menu {
		padding: 20px;
		background-color: #ffffff;
		box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.19);
		border-radius: 10px;
		transform: translate(-87%, 35px) !important;

		&.left-align {
			transform: translate(-10px, 35px) !important;

			&::after {
				content: "";
				position: absolute;
				top: -7px;
				left: 15px;
				right: inherit;
				width: 15px;
				height: 15px;
				background-color: #fff;
				border-radius: 0;
				transform: rotate(45deg);
				border-color: #efefef transparent transparent #efefef;
				border-style: solid;
				border-width: 2px;
			}
		}

		&::after {
			content: "";
			position: absolute;
			top: -7px;
			right: 15px;
			width: 15px;
			height: 15px;
			background-color: #fff;
			border-radius: 0;
			transform: rotate(45deg);
			border-color: #efefef transparent transparent #efefef;
			border-style: solid;
			border-width: 2px;
		}

		.share-btn-dropdown-menu-container {
			.copy {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin: 0 0 10px 0;

				input {
					background-image: url(../../assets/image/icon/link.svg);
					background-size: 15px;
					background-repeat: no-repeat;
					background-position: 5px;
					width: 140px;
					height: 28px;
					background-color: #fff;
					border: 1px solid #e6e6e6;
					border-radius: 4px 0 0 4px;
					outline: none !important;
					padding: 0 0 0 30px;
					display: flex;
					align-items: center;
					justify-content: center;

					&::placeholder {
						font-style: normal;
						font-weight: 400;
						font-size: 11px;
						line-height: 9px;
						letter-spacing: 0.05em;
						color: #bebebe;
					}
				}
				button {
					background-image: url(../../assets/image/icon/copy.svg);
					background-size: 15px;
					background-repeat: no-repeat;
					background-position: 5px center;
					height: 28px;
					background-color: #15234a;
					border-radius: 0 4px 4px 0;
					font-style: normal;
					font-weight: 400;
					font-size: 11px;
					line-height: 9px;
					letter-spacing: 0.05em;
					color: #fff;
					padding: 0 8px 0 29px;
					width: 95px;
				}
			}

			.social-link {
				display: flex;
				align-items: center;
				justify-content: space-between;

				a {
					img {
						width: 85%;
					}
				}
			}
		}
	}
}

.shake {
	animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-3px, 0, 0);
	}
	// 20%,
	// 80% {
	// 	-webkit-transform: translate3d(2px, 0, 0);
	// 	transform: translate3d(2px, 0, 0);
	// }
	// 30%,
	// 50%,
	// 70% {
	// 	-webkit-transform: translate3d(-4px, 0, 0);
	// 	transform: translate3d(-4px, 0, 0);
	// }
	// 40%,
	// 60% {
	// 	-webkit-transform: translate3d(4px, 0, 0);
	// 	transform: translate3d(4px, 0, 0);
	// }
}
