body {
	overflow-x: hidden;
	display: none;
}

/* Preloader */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	/* change if the mask should have another color then white */
	z-index: 99999;
	/* makes sure it stays on top */
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	/* centers the loading animation horizontally one the screen */
	top: 50%;
	/* centers the loading animation vertically one the screen */
	background-image: url(http://design.iasbd.co.uk/assets/image/logo.svg);
	/* path to your loading animation */
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
	/* is width and height divided by two */
}

.ias-btn {
	background-color: #15234a;
	box-shadow: 0 15px 40px -15px #001347;
	border-radius: 8px;
	padding: 16px 34px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #fff;
	transition: 0.5s all;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&.white {
		background-color: #fff;
		color: #15234a;

		&:hover {
			background-color: rgb(206, 202, 202);
			color: #15234a;
		}

		&:active {
			background-color: #fff;
			transform: scale(0.94);
		}
	}

	&.outline {
		background-color: #fff;
		color: #15234a;
		border: 2px solid #15234a;

		&:hover {
			background-color: #15234a;
			color: #fff;
		}

		&:active {
			transform: scale(0.94);
		}
	}

	&:hover {
		background-color: #1b2f67;
		color: #ffffff;
	}

	&:active {
		background-color: #15234a;
		transform: scale(0.94);
	}
}

.content-header-section {
	&.white {
		.title,
		.sub-title {
			color: #fff;
		}
	}

	.title {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 45px;
		letter-spacing: 0.05em;
		color: #000c2e;
		margin: 0 0 15px 0;
	}

	.sub-title {
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.05em;
		color: #476cd2;
		display: block;
		margin: 0 0 20px 0;
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

a {
	text-decoration: none;
}

.hyperlink {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.text-light-blue {
	color: #476cd2;
}

.social-share {
	display: flex;
	align-items: center;
	justify-content: center;

	.share-title {
		margin: 0 20px 0 0;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #000c2e;
		display: flex;
		align-items: center;

		img {
			margin: 0 10px 0 0;
		}
	}

	.social-link {
		a {
			margin: 0 15px 0 0;
		}
	}
}
