.specialization-container {
    background-color: #f3f8ff;
    padding: 80px 0;

    .specialization-content {
        margin: 80px 0 0 0;

        a {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #000c2e;
            margin: 0;
            text-decoration: none;
        }

        .specialization-list {
            background-color: #ffffff;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            width: 100%;
            height: 274px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 20px;
            justify-content: center;
            margin: 0 0 30px 0;

            .icon {
                background-image: url(../../assets/image/icon/service/icon-bg.svg);
                background-repeat: no-repeat;
                background-position: 50%;
                width: 121px;
                height: 60px;
                background-position: 8px;
                background-size: 59px 63px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 20px 0;
            }

            .discription {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                color: #000c2e;
                margin: 0;
            }
        }
    }
}
